{% extends 'base.html.twig' %}

{% block title %}New Signature{% endblock %}

{% block body %}
    <h1>Create new Signature</h1>

    {{ include('signature/_form.html.twig') }}

    <a href="{{ path('app_signature_index') }}">back to list</a>
{% endblock %}
