{% extends 'base.html.twig' %}

{% block title %}{{ 'company_info.success_title'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="success-box">
            <div class="success-icon">✓</div>

            <h1>{{ 'company_info.success_title'|trans }}</h1>

            <div class="message">
                {{ 'company_info.success_message'|trans }}
            </div>

            <div class="thanks">
                {{ 'company_info.success_thanks'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
